<footer>
  {% if section != 'shop' %}
  <h3>FAQ</h3>

  <ol>
    <li>All Game Boys are thoroughly tested before dispatch, specifically for all functionality of buttons, display, volume and link cable.
    <li>Actual shell of Game Boys (DMG) will differ slightly and may show signs of use, but they are cleaned and selected carefully.
    <li>Tetris will be included with DMG Game Boys by default whilst stock lasts (or Super Mario can be requested).
    <li>All postage is sent using tracked Royal Mail. Customs costs are unknown and specific to your country, but I can work with you to help mitagate it as much as possible.
    <li>Batteries not included.
    <li>Have a question? <a href="mailto:remy@remysharp.com?subject=Game Boy question">please ask</a>
  </ol>

  {% endif %}

  <small>
    <p>Projects and restorations by <a href="https://remysharp.com">Remy Sharp</a> of Brighton, UK.</p>
  </small>
</footer>
