		<header>
      <nav id="navigation">
        <ul class="flex-break">
          <li><a href="/">Home</a></li>
          <li><a href="mailto:remy@remysharp.com">Contact</a></li>
        </ul>
      </nav>
    </header>
