		<header>
      <nav id="navigation">
        <ul class="flex-break">
          <li><a href="/">Home</a></li>
          <li><a href="/info/gameboy">Gameboy</a></li>
          {# <li><a href="/info/gbc">GBC</a></li> #}
          <li><a href="/tag/gba">GBA</a></li>
          <li><a href="/info/ws">WonderSwan</a></li>
          <li><a href="mailto:remy@remysharp.com">@contact</a></li>
        </ul>
      </nav>
    </header>
