---
section: home
title: retrobyrem.uk
layout: layouts/base-page.njk
pagination:
  data: tags
  resolve: values
  alias: tag
  size: 1000
---

<p>Welcome to my refurb project, currently focused on the Nintendo Game boy. I've been working through a number of beaten up Game boys to bring them back to life and into your hands to give them a new lease of fun.</p>

<p>From this site you can pre-order a Game boy, enquire about a custom build and ask me to fix your Game boy or games.</p>

<ul class="products">
  {%- for t in pagination.items %}
  {%- if t.hide != true %}
  <li class="product-card">
    <a href="/tag/{{ t.tag }}">
    <span>{{ t.title }} / £{{ pricing["total-" + t.tag] }}</span>
      {%- if t.images %}<img src="/images/products/mods/{{ t.images[0] }}">{%- endif %}
    </a>
  </li>
  {%- endif %}
  {%- endfor %}
</ul>
