---
section: home
title: Retro By Rem
layout: layouts/base-page.njk
pagination:
  data: tags
  resolve: values
  alias: tag
  size: 1000
---

<p>Welcome to my refurb project, currently focused on the Nintendo Gameboy. I've been working through a number of beaten up Gameboys to bring them back to life and into your hands to give them a new lease of fun.</p>

<p>From this site you can pre-order a Gameboy, enquire about a custom build and ask me to fix your Gameboy or games.</p>

<p><strong><a href="/tag/ips">IPS Game Boys</a> include Tetris (or Super Mario on request) whilst stock lasts!</strong></p>

<ul class="products">
  {%- for t in pagination.items %}
  {%- if t.hide != true %}
  <li class="product-card">
    <a href="/tag/{{ t.tag }}">
    {{ t.title }} / £{{ pricing["total-" + t.tag] }}
      {%- if t.images %}<img src="/images/products/mods/{{ t.images[0] }}">{%- endif %}
    </a>
  </li>
  {%- endif %}
  {%- endfor %}
</ul>
