<div class="product-list">
  <ul>
  {%- for p in products %}
    <li class="product-card">
      <a href="/products/{{ slug }}/">
        {{ slug }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</div>
